<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominik.hptracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewWarcasterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewWarcaster" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewWarjackActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewWarjack" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewSoloActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewSolo" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTroopActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewTroop" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewArmyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NewArmy" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
